{% if page.layout != 'index' %}
    {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% assign pages=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% endif %}
    {% if pages.size == 0 %}
        {% assign pages=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% endif %}   

    <!-- ONLY SUPPORTED TRANSLATION FOR EXACTLY TWO LANGUAGE MATCHING-->
    {% if pages.size > 1 %} 
    <hr/>
    <footer class="lang-options">
      <div class="container">
        <i class="fas fa-language"></i>
        <em>English (en) / Português (pt-br):</em>
        <ul>
        {% for translated-page in pages %}
        <li><a href="{{ site.base-url }}{{ translated-page.url }}" class="{{ translated-page.lang }}">{{ translated-page.lang }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </footer>
    {% endif %}
{% endif %}

<!-- original -->
{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-0">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.
    {{ site.footer_text }}
    {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>
{% else %}
<footer class="sticky-bottom mt-5">
  <div class="container">
    <!-- &copy copyright -->
    &#127279; Copyleft {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.
    {{ site.footer_text }}
    {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>
{% endif %}
